#splashscreen {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-color: #777;
  color: #6d0a08;
  text-align: center;
}
#wcblock {
  margin: 100px auto;
  display: block;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}
.enter_link {
  position: absolute;
  bottom: 20px;
  font-size: 24px;
  color: #fff;
  margin-left: -40px;
}
